body {
  margin: 0;
  background-color: rgb(255, 255, 255, 0.91);
}

nav {
  background-color: black;
  padding: 5px 0;
}

header {
  text-align: center;
}

h1 {
  padding-top: 170px;
  font-size: 70px;
  font-family: "Julius Sans One", sans-serif;
  margin: 0;
  color: white;
}

h2 {
  padding-bottom: 50px;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

p {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
}

span > p {
  font-size: 12px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(137, 4, 185);
}

.link {
  color: rgb(137, 4, 185);
  font-weight: 700;
  letter-spacing: 1px;
}

.section {
  padding-bottom: 40px;
}

.subheading {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  font-weight: 600;
}

.main-background {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.91) 0%,
    rgb(96, 34, 177) 100%
  );
}

.icon {
  font-size: 40px;
  padding: 0 20px;
}

.socials {
  line-height: 30px;
}

.email {
  font-size: 22px;
}

img {
  max-height: 350px;
}

div .project-description > p {
  font-size: 16px;
}

.row {
  padding-bottom: 5px;
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.nav-link {
  color: white;
  font-family: "Julius Sans One", sans-serif;
}

.nav-link:hover {
  color: white;
}

footer {
  text-align: right;
  font-size: 14px;
}

.title-image {
  max-height: 350px;
  padding-bottom: 50px;
}
